
 

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
   /* background-color: darkgrey; */
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header ul{
    margin: 0;
    padding: 0;
    }
    header{
        /* background-color: lightblue; */
        color: black;
        padding-top: 30px;
        min-height: 70px;
        /* border-bottom:red 3px solid; */
        }
        header li{
            float: left;
            display: inline-flex;
            padding: 0 30px 0 30px;
        }
    
        
        header nav{
            float: right;
            margin-top: 10px;
        }
        /* #showcase{
            min-height: 400px;
            text-align: center;
            color: black;
            
        }
        #showcase h1{
            margin-top: 7%;
            font-size: 55px;
            margin-bottom: 20px;
        }
        #Showcase p{
        font-size: 20px;
     } */
     .showcase{
        margin-top: -40%;
        font-size: 40px;
        margin-left: 15%;
        color: white;

     }
     #showcase1{
    background-color: pink;
    color: white;
    margin-left: 15%;
    font-size:30px;
     }
.men2{
    margin-top: 25%;
    margin-left: 35%;
    font-size: 20px;
    color: black;
}
.a2{

float: right;
margin-top: -32%;
margin-right: 57%;


}
.a3{
    float: right;
margin-top: -32%;
margin-right: 30%;

}
.a4{
    float: right;
    margin-top: -32%;
    margin-right: -43%;
}
#lean{
 color: white; 
 background-color: pink; 
 font-size: 20px; 
 margin-left: 43%;
}
.k1{
    color: white;
    background-color: pink;
    font-size: 25px;
 }
    .k2{
 color: white;
 background-color: pink;
 font-size: 25px;
 margin-left: 18%;
 
}
 .k3{
        background-color: pink;
        color: white;
        font-size: 25px;
        margin-left: 55%;
        
        
    }


.m2{
float: right;

margin-top: -10%;
}
.m4{
    margin-top: -18%;
}
.m5{
    margin-top: -57%;
    margin-left: 15%;
}
.m6 {
    margin-top:27% ;
    margin-left:57% ;
    margin-top: 41% ;
}
.m3{
    margin-bottom: -6%;
    margin-top: -7%;
}
 .y5{
margin-top:  -50%;
}
.y7{
margin-bottom: -50%;
margin-left:   55%;
} 
.description{
    margin-top: 200px;
    font-size: 17px;
    margin-left: 10px;
}
.handles{
    margin-top: 40px;
    margin-left: 10px;
    font-size: 30px;
}
.all{
    margin-left: 450px;
    margin-top: -265px;
    
}
.shiped{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-left: -20px;
}
.contact{
    margin-left: 650px;
    margin-top: -219px;
}
.abt{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-left: -20px;
    
    
}
.letter{
    margin-left: 900px;
    margin-top: -180px;
}
.newe{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-left: -20px;

}
.inputs{
    margin-left: 900px;
    margin-top: 20px;
}
.subscribe{
    margin-left: 900px;
    margin-top: 20px;
    padding: 10px 50px;
    background-color: palevioletred;
    border-color: pink;
    color: white;
}
.icons2{
    margin-left: 900px;
    margin-top: 20px;
    font-size: 30px;
    color: blue;
}

